li a {
  color: skyblue;
}
body {
  &.index {
    background: url("images/sunset.avif") repeat;
  }

  &.detail {
    background: url("images/tree.jpg") repeat;

    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  .dark-mode {
    background-color: black;
    color: white;
  }
}

li a:hover {
  color: yellow;
}

li {
  .options {
    display: none;
  }
}

li:hover {
  .options {
    display: inline-block;
  }
}